<script>
	import './styles.css';
</script>

<div class="app">
	<main>
		<slot />
		<footer>
			Foto Quelle: Nico Hemkes (Moormerland)
			<br/>
			Copyright 2024 by <a href="https://hemk.es/" target="_blank" rel="me external">@turbopixel</a> (<a href="https://codeberg.org/turbopixel/feuerwehr-moormerland.de" target="_blank" >Quellcode</a>)
		</footer>
	</main>
</div>

<style lang="scss">
	$screen-mobile: 800px;

	.app {
		display: flex;
		flex-direction: column;
		min-height: 100vh;
	}
	main {
		flex: 1;
		display: flex;
		flex-direction: column;
		padding: 1rem;
		width: calc(100% - 2rem);
		max-width: 90rem;
		margin: 0 auto;
		box-sizing: border-box;

		@media screen and (max-width: $screen-mobile) {
			padding: 0;
		}

		> footer{
			text-align: center;
			font-size: .45rem;
			color: var(--color-text);

			a{
				color: var(--color-text);
			}
		}
	}
</style>
