<script>
	import { einheiten } from './../lib/static/einheit';
</script>

<svelte:head>
	<title>Feuerwehren in der Gemeinde Moormerland</title>
	<meta name="description" content="Übersicht aller Freiwillige Feuerwehren in der Gemeinde Moormerland (Landkreis Leer)."/>
	<meta name="keywords" content="feuerwehr moormerland, feuerwehr warsingsfehn, feuerwehr veenhusen, feuerwehr jheringsfehn, feuerwehr oldersum, feuerwehren in Moormerland" />
</svelte:head>

<section>
	<h1>Freiwillige Feuerwehren in Moormerland</h1>

	<div class="dashboard">
		{#each einheiten as item}
			<div class="einheit">
				<div class="header">
					<h3>Feuerwehr {item.titel}</h3>
					<small>{item.stufe}</small>
					<div class="tags">
						{#if item.jugendfeuerwehr}
							<span>&#x2714; Jugendfeuerwehr</span>
						{/if}
						{#if item.kinderfeuerwehr}
							<span>&#x2714; Kinderfeuerwehr</span>
						{/if}
					</div>
				</div>
				<div class="details">
					{#each item.links as link}
						<a href={link.link} target="_blank" title="Externen Link: {link.label}" rel="external"
							>{link.label}</a
						>
					{/each}
				</div>
			</div>
		{/each}
	</div>
</section>

<style lang="scss">
	$screen-mobile: 800px;

	section {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		flex: 0.6;
	}

	h1 {
		width: 100%;
		font-size: 2.45rem;
	}

	div.dashboard {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		grid-template-rows: repeat(2, 1fr);
		grid-column-gap: 1rem;
		grid-row-gap: 0.5rem;
		grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
		width: 100%;
		margin-top: 2rem;

		@media screen and (max-width: $screen-mobile) {
			grid-column-gap: 0;
			grid-row-gap: 0;
			grid-template-columns: repeat(1, 1fr);
			grid-template-rows: repeat(1, 1fr);
		}

		> div.einheit {
			display: block;
			background: #eee;
			margin: 1rem;
			width: calc(100% - 2rem);
			background: rgb(131, 0, 0);
			background: linear-gradient(
				180deg,
				rgb(153, 1, 1) 0%,
				rgba(167, 41, 32, 1) 55%,
				rgb(196, 35, 24) 100%
			);

			> div.header {
				display: block;
				padding: 1rem;

				h3 {
					margin: 0 0 0.45rem;
					padding: 0;
					font-size: 1.55rem;
					letter-spacing: 1px;
					font-weight: 600;
					color: #ffff00;

					@media screen and (max-width: $screen-mobile) {
						font-size: 1.3rem;
					}
				}

				small {
					color: var(--color-white);
					font-size: 0.96rem;
					letter-spacing: 0px;
					font-weight: 400;

					@media screen and (max-width: $screen-mobile) {
						font-size: 0.78rem;
					}
				}

				div.tags {
					display: block;
					line-height: 2.25rem;
					color: var(--color-white);
					font-size: 0.96rem;
					letter-spacing: 0px;
					font-style: italic;
					font-weight: 300;

					@media screen and (max-width: $screen-mobile) {
						line-height: 1.65rem;
						font-size: 0.78rem;
					}
				}
			}

			> div.details {
				display: flex;
				flex-direction: row;
				justify-content: flex-start;
				align-items: center;

				padding: 0 1rem;
				font-size: 0.75rem;
				color: var(--color-white);
				background: rgba(255, 255, 255, 0.189);
				line-height: 2.25rem;

				@media screen and (max-width: $screen-mobile) {
					font-size: 0.65rem;
				}

				a {
					color: var(--color-white);
					display: inline-block;
					margin: 0 0.5rem;

					&:first-child {
						margin: 0;
					}
				}
			}
		}
	}
</style>
