@import url(https://fonts.bunny.net/css?family=merriweather-sans:300,300i,400i,500);

:root {
	--font-body: 'Merriweather Sans', Arial, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
		Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	--color-bg-0: rgba(255, 0, 0, 0.281);
	--color-bg-1: hsla(0, 100%, 42%, 0.568);
	--color-theme-1: #f80000;
	--color-theme-2: #fff;
	--color-text: rgba(0, 0, 0, 0.7);
	--color-white: #e8e8e8;
	--column-width: 42rem;
	--column-margin-top: 4rem;
	font-family: var(--font-body);
	color: var(--color-text);
}

body {
	min-height: 100vh;
	margin: 0;
	background: #ece7e7;
	background-image: url(/sperrwerk-gandersum.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

h1,
h2,
p {
	font-weight: 400;
}

p {
	line-height: 1.5;
}

a {
	color: var(--color-theme-1);
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

h1 {
	font-size: 2rem;
	text-align: center;
	color: var(--color-text);
	letter-spacing: 2px;
}
